<span style='color: #000'>211 frames</span>	<span style='color: #900'>8,192 KB</span>	<span style='color: #090'>600.84 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />