.font-small{
    font-size: 12px;
}
.stepwizard-step p {
    margin-top: 10px;
}
.stp-done {

        background-color: yellowgreen !important;
}
.stepwizard-row {
    display: table-row;
    /*background-color: white;*/
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
    padding-bottom: 15px
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 24px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {

        color: whitesmoke;
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 12px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 30px;
}

input[disabled].btn:hover, input[disabled].btn:hover, input[disabled].btn:focus{
  color:red
}
