

#masthead .navbar-brand {
    padding: 0;
    line-height: 90px;
    height: 90px;
}

#masthead .navbar-brand img {
    left: 4px;
    vertical-align: middle;
    max-height: 100%;
}

#masthead .nav > li > a {
    padding-top: 33px;
    padding-bottom: 33px;
}

#masthead .nav > li > a:before {
    margin-bottom: - 14.5px;
}

#masthead .nav li.active > a:before, #masthead .nav > li a:hover:before, #masthead .nav > li.current-menu-item > a:before, #masthead .nav > li.current-page-parent > a:before, #masthead .nav > li.current-menu-parent > a:before, #masthead .nav > li.current-page-ancestor > a:before, #masthead .nav > li.current-menu-ancestor > a:before {
    margin-bottom: - 16.5px;
}

#masthead .navbar-text {
    line-height: 24px;
    margin-top: 33px;
    margin-bottom: 33px;
}

#masthead.navbar {
    min-height: 90px;
}

#masthead.navbar-scrolled, #masthead.navbar-animate-display {
    min-height: 70px;
}

#masthead.navbar-scrolled .navbar-brand, #masthead.navbar-animate-display .navbar-brand {
    line-height: 70px;
    height: 70px;
}

#masthead.navbar-scrolled .navbar-nav > li > a {
    padding-top: 23px;
    padding-bottom: 23px;
}

#masthead.navbar-scrolled .navbar-text {
    margin-top: 23px;
    margin-bottom: 23px;
}

#masthead .dropdown-menu {
    min-width: 200px;
}

.navbar-toggle {
    margin-top: 28px;
    margin-bottom: 28px;
}

.navbar-scrolled .navbar-toggle {
    margin-top: 18px;
    margin-bottom: 18px;
}

.btn .hex-alt {
    background: rgba(255, 255, 255, 0.2);
}

.btn .hex-alt:before {
    border-right-color: rgba(255, 255, 255, 0.2);
}

.btn .hex-alt:after {
    border-left-color: rgba(255, 255, 255, 0.2);
}

.btn i {
    color: #fff !important;
}

.btn-default {
    background: #777 !important;
    color: #fff !important;
}

.btn-default:hover {
    background: #8b8b8b !important;
}

.btn-default.btn-icon-right:after {
    border-left-color: #777;
}

.btn-default.btn-icon-left:after {
    border-right-color: #777;
}

.btn-default.btn-icon-right:hover:after {
    border-left-color: #8b8b8b;
}

.btn-default.btn-icon-left:hover:after {
    border-right-color: #8b8b8b;
}

.btn-warning {
    background: #f18d38 !important;
    color: #fff !important;
}

.btn-warning:hover {
    background: #e57211 !important;
}

.btn-warning.btn-icon-right:after {
    border-left-color: #f18d38;
}

.btn-warning.btn-icon-left:after {
    border-right-color: #f18d38;
}

.btn-warning.btn-icon-right:hover:after {
    border-left-color: #e57211;
}

.btn-warning.btn-icon-left:hover:after {
    border-right-color: #e57211;
}

.btn-danger {
    background: #e74c3c !important;
    color: #fff !important;
}

.btn-danger:hover {
    background: #d62c1a !important;
}

.btn-danger.btn-icon-right:after {
    border-left-color: #e74c3c;
}

.btn-danger.btn-icon-left:after {
    border-right-color: #e74c3c;
}

.btn-danger.btn-icon-right:hover:after {
    border-left-color: #d62c1a;
}

.btn-danger.btn-icon-left:hover:after {
    border-right-color: #d62c1a;
}

.btn-success {
    background: #427e77 !important;
    color: #fff !important;
}

.btn-success:hover {
    background: #305d57 !important;
}

.btn-success.btn-icon-right:after {
    border-left-color: #427e77;
}

.btn-success.btn-icon-left:after {
    border-right-color: #427e77;
}

.btn-success.btn-icon-right:hover:after {
    border-left-color: #305d57;
}

.btn-success.btn-icon-left:hover:after {
    border-right-color: #305d57;
}

.btn-info {
    background: #5d89ac !important;
    color: #fff !important;
}

.btn-info:hover {
    background: #486f8e !important;
}

.btn-info.btn-icon-right:after {
    border-left-color: #5d89ac;
}

.btn-info.btn-icon-left:after {
    border-right-color: #5d89ac;
}

.btn-info.btn-icon-right:hover:after {
    border-left-color: #486f8e;
}

.btn-info.btn-icon-left:hover:after {
    border-right-color: #486f8e;
}



.swatch-black-white .decor, [class*="swatch-"] .swatch-black-white .decor {
    fill: #1c1c1c;
    stroke: #fff;
}

.swatch-black-white h1, [class*="swatch-"] .swatch-black-white h1, .swatch-black-white h2, [class*="swatch-"] .swatch-black-white h2, .swatch-black-white h3, [class*="swatch-"] .swatch-black-white h3, .swatch-black-white h4, [class*="swatch-"] .swatch-black-white h4, .swatch-black-white h5, [class*="swatch-"] .swatch-black-white h5, .swatch-black-white h6, [class*="swatch-"] .swatch-black-white h6 {
    color: #efefef;
}

.swatch-black-white h1 a, [class*="swatch-"] .swatch-black-white h1 a, .swatch-black-white h2 a, [class*="swatch-"] .swatch-black-white h2 a, .swatch-black-white h3 a, [class*="swatch-"] .swatch-black-white h3 a, .swatch-black-white h4 a, [class*="swatch-"] .swatch-black-white h4 a, .swatch-black-white h5 a, [class*="swatch-"] .swatch-black-white h5 a, .swatch-black-white h6 a, [class*="swatch-"] .swatch-black-white h6 a {
    color: #fff;
}

.swatch-black-white h1 small, [class*="swatch-"] .swatch-black-white h1 small, .swatch-black-white h2 small, [class*="swatch-"] .swatch-black-white h2 small, .swatch-black-white h3 small, [class*="swatch-"] .swatch-black-white h3 small, .swatch-black-white h4 small, [class*="swatch-"] .swatch-black-white h4 small, .swatch-black-white h5 small, [class*="swatch-"] .swatch-black-white h5 small, .swatch-black-white h6 small, [class*="swatch-"] .swatch-black-white h6 small {
    color: #dfdfdf;
}

.swatch-black-white a, [class*="swatch-"] .swatch-black-white a {
    color: #fff;
}

.swatch-black-white a:hover, [class*="swatch-"] .swatch-black-white a:hover {
    color: #ccc;
}

.swatch-black-white small, [class*="swatch-"] .swatch-black-white small {
    color: #dfdfdf;
}

.swatch-black-white small a, [class*="swatch-"] .swatch-black-white small a {
    color: #dfdfdf;
}

.swatch-black-white small a:hover, [class*="swatch-"] .swatch-black-white small a:hover {
    color: #fff;
}

.swatch-black-white i, [class*="swatch-"] .swatch-black-white i {
    color: #dfdfdf;
}

.swatch-black-white blockquote, [class*="swatch-"] .swatch-black-white blockquote {
    border-color: rgba(255, 255, 255, 0.08);
}

.swatch-black-white blockquote small, [class*="swatch-"] .swatch-black-white blockquote small {
    color: #efefef;
}

.swatch-black-white::selection, [class*="swatch-"] .swatch-black-white::selection {
    background: #fff;
    color: #1c1c1c;
}

.swatch-black-white::-moz-selection, [class*="swatch-"] .swatch-black-white::-moz-selection {
    background: #fff;
    color: #1c1c1c;
}

.swatch-black-white hr, [class*="swatch-"] .swatch-black-white hr {
    border-top-color: rgba(255, 255, 255, 0.08);
}

.swatch-black-white pre, [class*="swatch-"] .swatch-black-white pre {
    background: #dfdfdf;
    color: #1c1c1c;
}

.swatch-black-white .section-header:after, [class*="swatch-"] .swatch-black-white .section-header:after, .swatch-black-white .bordered-header:after, [class*="swatch-"] .swatch-black-white .bordered-header:after {
    background: #fff;
}

.swatch-black-white .active, [class*="swatch-"] .swatch-black-white .active {
    color: #ccc;
}

.swatch-black-white .btn-primary, [class*="swatch-"] .swatch-black-white .btn-primary, .swatch-black-white button, [class*="swatch-"] .swatch-black-white button, .swatch-black-white input[type="submit"], [class*="swatch-"] .swatch-black-white input[type="submit"] {
    background-color: #f0f0f0;
    color: #343434;
}

.swatch-black-white .btn-primary:hover, [class*="swatch-"] .swatch-black-white .btn-primary:hover, .swatch-black-white button:hover, [class*="swatch-"] .swatch-black-white button:hover, .swatch-black-white input[type="submit"]:hover, [class*="swatch-"] .swatch-black-white input[type="submit"]:hover {
    background-color: rgba(240, 240, 240, .9);
    color: #343434;
}

.swatch-black-white .btn-primary.btn-icon-right:after, [class*="swatch-"] .swatch-black-white .btn-primary.btn-icon-right:after, .swatch-black-white button.btn-icon-right:after, [class*="swatch-"] .swatch-black-white button.btn-icon-right:after, .swatch-black-white input[type="submit"].btn-icon-right:after, [class*="swatch-"] .swatch-black-white input[type="submit"].btn-icon-right:after {
    border-left-color: #f0f0f0;
}

.swatch-black-white .btn-primary.btn-icon-left:after, [class*="swatch-"] .swatch-black-white .btn-primary.btn-icon-left:after, .swatch-black-white button.btn-icon-left:after, [class*="swatch-"] .swatch-black-white button.btn-icon-left:after, .swatch-black-white input[type="submit"].btn-icon-left:after, [class*="swatch-"] .swatch-black-white input[type="submit"].btn-icon-left:after {
    border-right-color: #f0f0f0;
}

.swatch-black-white .btn-primary.btn-icon-right:hover:after, [class*="swatch-"] .swatch-black-white .btn-primary.btn-icon-right:hover:after, .swatch-black-white button.btn-icon-right:hover:after, [class*="swatch-"] .swatch-black-white button.btn-icon-right:hover:after, .swatch-black-white input[type="submit"].btn-icon-right:hover:after, [class*="swatch-"] .swatch-black-white input[type="submit"].btn-icon-right:hover:after {
    border-left-color: rgba(240, 240, 240, .9);
}

.swatch-black-white .btn-primary.btn-icon-left:hover:after, [class*="swatch-"] .swatch-black-white .btn-primary.btn-icon-left:hover:after, .swatch-black-white button.btn-icon-left:hover:after, [class*="swatch-"] .swatch-black-white button.btn-icon-left:hover:after, .swatch-black-white input[type="submit"].btn-icon-left:hover:after, [class*="swatch-"] .swatch-black-white input[type="submit"].btn-icon-left:hover:after {
    border-right-color: rgba(240, 240, 240, .9);
}

.swatch-black-white .btn-primary .hex-alt, [class*="swatch-"] .swatch-black-white .btn-primary .hex-alt, .swatch-black-white button .hex-alt, [class*="swatch-"] .swatch-black-white button .hex-alt, .swatch-black-white input[type="submit"] .hex-alt, [class*="swatch-"] .swatch-black-white input[type="submit"] .hex-alt {
    background: rgba(52, 52, 52, .2);
}

.swatch-black-white .btn-primary .hex-alt:before, [class*="swatch-"] .swatch-black-white .btn-primary .hex-alt:before, .swatch-black-white button .hex-alt:before, [class*="swatch-"] .swatch-black-white button .hex-alt:before, .swatch-black-white input[type="submit"] .hex-alt:before, [class*="swatch-"] .swatch-black-white input[type="submit"] .hex-alt:before {
    border-right-color: rgba(52, 52, 52, .2);
}

.swatch-black-white .btn-primary .hex-alt:after, [class*="swatch-"] .swatch-black-white .btn-primary .hex-alt:after, .swatch-black-white button .hex-alt:after, [class*="swatch-"] .swatch-black-white button .hex-alt:after, .swatch-black-white input[type="submit"] .hex-alt:after, [class*="swatch-"] .swatch-black-white input[type="submit"] .hex-alt:after {
    border-left-color: rgba(52, 52, 52, .2);
}

.swatch-black-white .btn-primary .hex-alt i, [class*="swatch-"] .swatch-black-white .btn-primary .hex-alt i, .swatch-black-white button .hex-alt i, [class*="swatch-"] .swatch-black-white button .hex-alt i, .swatch-black-white input[type="submit"] .hex-alt i, [class*="swatch-"] .swatch-black-white input[type="submit"] .hex-alt i {
    color: #fff !important;
}

.swatch-black-white .btn-link, [class*="swatch-"] .swatch-black-white .btn-link {
    text-decoration: none;
    box-shadow: 0px 0px 0px 1px #fff inset;
}

.swatch-black-white .btn-link:hover, [class*="swatch-"] .swatch-black-white .btn-link:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(240, 240, 240, .05);
}

.swatch-black-white select, [class*="swatch-"] .swatch-black-white select, .swatch-black-white textarea, [class*="swatch-"] .swatch-black-white textarea, .swatch-black-white input, [class*="swatch-"] .swatch-black-white input, .swatch-black-white .uneditable-input, [class*="swatch-"] .swatch-black-white .uneditable-input, .swatch-black-white .input-group-btn, [class*="swatch-"] .swatch-black-white .input-group-btn {
    background: #e7e7e7;
    color: #1c1c1c;
}

.swatch-black-white select:-moz-placeholder, [class*="swatch-"] .swatch-black-white select:-moz-placeholder, .swatch-black-white textarea:-moz-placeholder, [class*="swatch-"] .swatch-black-white textarea:-moz-placeholder, .swatch-black-white input:-moz-placeholder, [class*="swatch-"] .swatch-black-white input:-moz-placeholder, .swatch-black-white .uneditable-input:-moz-placeholder, [class*="swatch-"] .swatch-black-white .uneditable-input:-moz-placeholder, .swatch-black-white .input-group-btn:-moz-placeholder, [class*="swatch-"] .swatch-black-white .input-group-btn:-moz-placeholder {
    color: #292929;
}

.swatch-black-white select::-moz-placeholder, [class*="swatch-"] .swatch-black-white select::-moz-placeholder, .swatch-black-white textarea::-moz-placeholder, [class*="swatch-"] .swatch-black-white textarea::-moz-placeholder, .swatch-black-white input::-moz-placeholder, [class*="swatch-"] .swatch-black-white input::-moz-placeholder, .swatch-black-white .uneditable-input::-moz-placeholder, [class*="swatch-"] .swatch-black-white .uneditable-input::-moz-placeholder, .swatch-black-white .input-group-btn::-moz-placeholder, [class*="swatch-"] .swatch-black-white .input-group-btn::-moz-placeholder {
    color: #292929;
}

.swatch-black-white select:-ms-input-placeholder, [class*="swatch-"] .swatch-black-white select:-ms-input-placeholder, .swatch-black-white textarea:-ms-input-placeholder, [class*="swatch-"] .swatch-black-white textarea:-ms-input-placeholder, .swatch-black-white input:-ms-input-placeholder, [class*="swatch-"] .swatch-black-white input:-ms-input-placeholder, .swatch-black-white .uneditable-input:-ms-input-placeholder, [class*="swatch-"] .swatch-black-white .uneditable-input:-ms-input-placeholder, .swatch-black-white .input-group-btn:-ms-input-placeholder, [class*="swatch-"] .swatch-black-white .input-group-btn:-ms-input-placeholder {
    color: #292929;
}

.swatch-black-white select::-webkit-input-placeholder, [class*="swatch-"] .swatch-black-white select::-webkit-input-placeholder, .swatch-black-white textarea::-webkit-input-placeholder, [class*="swatch-"] .swatch-black-white textarea::-webkit-input-placeholder, .swatch-black-white input::-webkit-input-placeholder, [class*="swatch-"] .swatch-black-white input::-webkit-input-placeholder, .swatch-black-white .uneditable-input::-webkit-input-placeholder, [class*="swatch-"] .swatch-black-white .uneditable-input::-webkit-input-placeholder, .swatch-black-white .input-group-btn::-webkit-input-placeholder, [class*="swatch-"] .swatch-black-white .input-group-btn::-webkit-input-placeholder {
    color: #292929;
}

.swatch-black-white input:focus, [class*="swatch-"] .swatch-black-white input:focus, .swatch-black-white textarea:focus, [class*="swatch-"] .swatch-black-white textarea:focus, .swatch-black-white .form-control:focus, [class*="swatch-"] .swatch-black-white .form-control:focus {
    -webkit-box-shadow: 0px 3px 0px #6c6c6c;
    -moz-box-shadow: 0px 3px 0px #6c6c6c;
    box-shadow: 0px 3px 0px #6c6c6c;
}

.swatch-black-white .form-icon-group i, [class*="swatch-"] .swatch-black-white .form-icon-group i {
    color: #f0f0f0;
}

.swatch-black-white input[type="button"], [class*="swatch-"] .swatch-black-white input[type="button"] {
    background: #f0f0f0;
    color: #343434;
}

.swatch-black-white .select-wrap, [class*="swatch-"] .swatch-black-white .select-wrap {
    background: #e7e7e7;
}

.swatch-black-white .select-wrap select, [class*="swatch-"] .swatch-black-white .select-wrap select {
    background: transparent;
}

.swatch-black-white .table th, [class*="swatch-"] .swatch-black-white .table th {
    background-color: #fff;
    text-transform: uppercase;
    color: #1c1c1c;
}

.swatch-black-white.table th, [class*="swatch-"] .swatch-black-white.table th {
    color: #1c1c1c;
    background-color: #fff;
}

.swatch-black-white .table th, [class*="swatch-"] .swatch-black-white .table th, .swatch-black-white .table td, [class*="swatch-"] .swatch-black-white .table td, .swatch-black-white .table-bordered, [class*="swatch-"] .swatch-black-white .table-bordered {
    border-color: rgba(255, 255, 255, 0.08);
}

.swatch-black-white .table-striped tbody > tr:nth-child(odd) > td, [class*="swatch-"] .swatch-black-white .table-striped tbody > tr:nth-child(odd) > td, .swatch-black-white .table-striped tbody > tr:nth-child(odd) > th, [class*="swatch-"] .swatch-black-white .table-striped tbody > tr:nth-child(odd) > th, .swatch-black-white .table-hover tbody tr:hover > td, [class*="swatch-"] .swatch-black-white .table-hover tbody tr:hover > td, .swatch-black-white .table-hover tbody tr:hover > th, [class*="swatch-"] .swatch-black-white .table-hover tbody tr:hover > th {
    background: rgba(255, 255, 255, 0.08);
}

.swatch-black-white.navbar, [class*="swatch-"] .swatch-black-white.navbar {
    background: #1c1c1c;
    color: #efefef;
}

.swatch-black-white.navbar .navbar-brand, [class*="swatch-"] .swatch-black-white.navbar .navbar-brand {
    color: #efefef;
}

.swatch-black-white.navbar .navbar-brand:hover, [class*="swatch-"] .swatch-black-white.navbar .navbar-brand:hover {
    color: #efefef;
}

.swatch-black-white.navbar .nav > li > a, [class*="swatch-"] .swatch-black-white.navbar .nav > li > a {
    color: #fff;
}

.swatch-black-white.navbar .nav > li > a:hover, [class*="swatch-"] .swatch-black-white.navbar .nav > li > a:hover, .swatch-black-white.navbar .nav > li > a:focus, [class*="swatch-"] .swatch-black-white.navbar .nav > li > a:focus {
    background: none;
}

.swatch-black-white.navbar .nav > li > a:before, [class*="swatch-"] .swatch-black-white.navbar .nav > li > a:before {
    background-color: #fff;
}

.swatch-black-white .navbar-toggle, [class*="swatch-"] .swatch-black-white .navbar-toggle {
    background: none;
}

.swatch-black-white .navbar-toggle .icon-bar, [class*="swatch-"] .swatch-black-white .navbar-toggle .icon-bar {
    background-color: #efefef;
}

.swatch-black-white .navbar-toggle:hover, [class*="swatch-"] .swatch-black-white .navbar-toggle:hover {
    background: none;
}

.swatch-black-white.navbar .nav > .active > a, [class*="swatch-"] .swatch-black-white.navbar .nav > .active > a, .swatch-black-white.navbar .nav > .current-menu-item > a .swatch-black-white.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-black-white.navbar .nav > .current-menu-item > a [class*="swatch-"] .swatch-black-white.navbar .nav > .active > a:hover, .swatch-black-white.navbar .nav > .current-menu-item > a:hover, [class*="swatch-"] .swatch-black-white.navbar .nav > .current-menu-item > a:hover, .swatch-black-white.navbar .nav > .active > a:focus, [class*="swatch-"] .swatch-black-white.navbar .nav > .active > a:focus, .swatch-black-white.navbar .nav > .current-menu-item > a:focus, [class*="swatch-"] .swatch-black-white.navbar .nav > .current-menu-item > a:focus, .swatch-black-white.navbar .nav > li > a:focus, [class*="swatch-"] .swatch-black-white.navbar .nav > li > a:focus, .swatch-black-white.navbar .nav > li > a:hover, [class*="swatch-"] .swatch-black-white.navbar .nav > li > a:hover, .swatch-black-white.navbar .nav li.dropdown.open > .dropdown-toggle, [class*="swatch-"] .swatch-black-white.navbar .nav li.dropdown.open > .dropdown-toggle, .swatch-black-white.navbar .nav li.dropdown.active > .dropdown-toggle, [class*="swatch-"] .swatch-black-white.navbar .nav li.dropdown.active > .dropdown-toggle, .swatch-black-white.navbar .nav li.dropdown.open.active > .dropdown-toggle, [class*="swatch-"] .swatch-black-white.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #efefef;
}

.swatch-black-white .dropdown-menu, [class*="swatch-"] .swatch-black-white .dropdown-menu {
    background: rgba(28, 28, 28, .95);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .1), 0px 4px 0px rgba(8, 8, 8, .3);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .1), 0px 4px 0px rgba(8, 8, 8, .3);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .1), 0px 4px 0px rgba(8, 8, 8, .3);
}

.swatch-black-white .dropdown-menu > li > a, [class*="swatch-"] .swatch-black-white .dropdown-menu > li > a {
    color: #efefef;
}

.swatch-black-white .dropdown-menu a:hover, [class*="swatch-"] .swatch-black-white .dropdown-menu a:hover, .swatch-black-white .dropdown-menu > .active > a, [class*="swatch-"] .swatch-black-white .dropdown-menu > .active > a, .swatch-black-white .dropdown-menu > .active > a:hover, [class*="swatch-"] .swatch-black-white .dropdown-menu > .active > a:hover, .swatch-black-white .dropdown-menu > .active > a:focus, [class*="swatch-"] .swatch-black-white .dropdown-menu > .active > a:focus {
    background: #fff;
    color: #1c1c1c;
}

.swatch-black-white .dropdown-menu a:hover i, [class*="swatch-"] .swatch-black-white .dropdown-menu a:hover i, .swatch-black-white .dropdown-menu > .active > a i, [class*="swatch-"] .swatch-black-white .dropdown-menu > .active > a i, .swatch-black-white .dropdown-menu > .active > a:hover i, [class*="swatch-"] .swatch-black-white .dropdown-menu > .active > a:hover i, .swatch-black-white .dropdown-menu > .active > a:focus i, [class*="swatch-"] .swatch-black-white .dropdown-menu > .active > a:focus i {
    color: #1c1c1c;
}

.swatch-black-white.navbar .nav > li > .dropdown-menu:after, [class*="swatch-"] .swatch-black-white.navbar .nav > li > .dropdown-menu:after, .swatch-black-white.navbar .nav > li > .dropdown-menu:before, [class*="swatch-"] .swatch-black-white.navbar .nav > li > .dropdown-menu:before {
    display: none;
}

.swatch-black-white.navbar-scrolled, [class*="swatch-"] .swatch-black-white.navbar-scrolled {
    background: rgba(28, 28, 28, .95);
}

.swatch-black-white.navbar-scrolled, [class*="swatch-"] .swatch-black-white.navbar-scrolled {
    -webkit-box-shadow: 0px 4px 0px rgba(8, 8, 8, .3);
    -moz-box-shadow: 0px 4px 0px rgba(8, 8, 8, .3);
    box-shadow: 0px 4px 0px rgba(8, 8, 8, .3);
}

@media (max-width:979px) {
    .swatch-black-white.navbar .nav > li > a, [class*="swatch-"] .swatch-black-white.navbar .nav > li > a {
        border-radius: 0;
    }
    .swatch-black-white.navbar .nav > li > a:hover, [class*="swatch-"] .swatch-black-white.navbar .nav > li > a:hover {
        background: #0f0f0f;
        color: #efefef;
    }
    .swatch-black-white.navbar .dropdown-menu, [class*="swatch-"] .swatch-black-white.navbar .dropdown-menu {
        background: #0f0f0f;
        border-radius: 0;
        box-shadow: none;
    }
    .swatch-black-white.navbar .dropdown-menu > li > a, [class*="swatch-"] .swatch-black-white.navbar .dropdown-menu > li > a {
        border-radius: 0;
        color: #efefef;
    }
    .swatch-black-white.navbar .dropdown-menu li > a:hover, [class*="swatch-"] .swatch-black-white.navbar .dropdown-menu li > a:hover, .swatch-black-white.navbar .dropdown-menu li > a:focus, [class*="swatch-"] .swatch-black-white.navbar .dropdown-menu li > a:focus, .swatch-black-white.navbar .dropdown-menu li.active > a, [class*="swatch-"] .swatch-black-white.navbar .dropdown-menu li.active > a {
        background: #080808;
        color: #fff;
    }
    .swatch-black-white .dropdown-submenu > ul > li > a, [class*="swatch-"] .swatch-black-white .dropdown-submenu > ul > li > a {
        background: #030303;
    }
    .swatch-black-white .dropdown-submenu > ul > li > a:hover, [class*="swatch-"] .swatch-black-white .dropdown-submenu > ul > li > a:hover {
        background: #0f0f0f;
    }
    .swatch-black-white .dropdown-submenu > a:after, [class*="swatch-"] .swatch-black-white .dropdown-submenu > a:after {
        border-left-color: transparent !important;
        border-top-color: #efefef !important;
    }
    .swatch-black-white.navbar .nav-highlight > a, [class*="swatch-"] .swatch-black-white.navbar .nav-highlight > a {
        color: #fff !important;
    }
    .swatch-black-white.navbar .nav-highlight > a:after, [class*="swatch-"] .swatch-black-white.navbar .nav-highlight > a:after {
        background: transparent;
    }
    .swatch-black-white.navbar .nav-highlight > a:hover, [class*="swatch-"] .swatch-black-white.navbar .nav-highlight > a:hover {
        color: #fff !important;
    }
    .swatch-black-white.navbar .nav-highlight > a:hover:after, [class*="swatch-"] .swatch-black-white.navbar .nav-highlight > a:hover:after {
        background: transparent;
    }
    .swatch-black-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover, [class*="swatch-"] .swatch-black-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover {
        background: #080808;
        color: #fff;
    }
    .swatch-black-white .menu-item-object-oxy_mega_menu .dropdown-menu > li:before, [class*="swatch-"] .swatch-black-white .menu-item-object-oxy_mega_menu .dropdown-menu > li:before {
        display: none;
    }
}

.swatch-black-white .nav-tabs > li > a:hover, [class*="swatch-"] .swatch-black-white .nav-tabs > li > a:hover, .swatch-black-white .nav-tabs > li > a:focus, [class*="swatch-"] .swatch-black-white .nav-tabs > li > a:focus {
    color: #1c1c1c;
    background-color: #fff;
}

.swatch-black-white .nav-tabs > li.active > a, [class*="swatch-"] .swatch-black-white .nav-tabs > li.active > a {
    color: #1c1c1c;
}

.swatch-black-white .nav-tabs > li.active > a:hover, [class*="swatch-"] .swatch-black-white .nav-tabs > li.active > a:hover {
    color: #1c1c1c;
}

.swatch-black-white .nav-pills > .active > a, [class*="swatch-"] .swatch-black-white .nav-pills > .active > a, .swatch-black-white .nav-pills > .active > a:hover, [class*="swatch-"] .swatch-black-white .nav-pills > .active > a:hover, .swatch-black-white .nav-pills > li > a:hover, [class*="swatch-"] .swatch-black-white .nav-pills > li > a:hover {
    background: #fff;
    color: #1c1c1c;
}

.swatch-black-white .nav-pills > .active > a .badge, [class*="swatch-"] .swatch-black-white .nav-pills > .active > a .badge, .swatch-black-white .nav-pills > .active > a:hover .badge, [class*="swatch-"] .swatch-black-white .nav-pills > .active > a:hover .badge, .swatch-black-white .nav-pills > li > a:hover .badge, [class*="swatch-"] .swatch-black-white .nav-pills > li > a:hover .badge {
    background: #1c1c1c;
    color: #fff;
}

.swatch-black-white .nav-pills > .active > a:hover, [class*="swatch-"] .swatch-black-white .nav-pills > .active > a:hover, .swatch-black-white .nav-pills > .active > a:hover:hover, [class*="swatch-"] .swatch-black-white .nav-pills > .active > a:hover:hover, .swatch-black-white .nav-pills > li > a:hover:hover, [class*="swatch-"] .swatch-black-white .nav-pills > li > a:hover:hover {
    color: #1c1c1c;
}

.swatch-black-white .tab-pane, [class*="swatch-"] .swatch-black-white .tab-pane, .swatch-black-white .tab-pane.active, [class*="swatch-"] .swatch-black-white .tab-pane.active {
    color: #1c1c1c;
}

.swatch-black-white .tab-pane h1, [class*="swatch-"] .swatch-black-white .tab-pane h1, .swatch-black-white .tab-pane.active h1, [class*="swatch-"] .swatch-black-white .tab-pane.active h1, .swatch-black-white .tab-pane h2, [class*="swatch-"] .swatch-black-white .tab-pane h2, .swatch-black-white .tab-pane.active h2, [class*="swatch-"] .swatch-black-white .tab-pane.active h2, .swatch-black-white .tab-pane h3, [class*="swatch-"] .swatch-black-white .tab-pane h3, .swatch-black-white .tab-pane.active h3, [class*="swatch-"] .swatch-black-white .tab-pane.active h3, .swatch-black-white .tab-pane h4, [class*="swatch-"] .swatch-black-white .tab-pane h4, .swatch-black-white .tab-pane.active h4, [class*="swatch-"] .swatch-black-white .tab-pane.active h4, .swatch-black-white .tab-pane h5, [class*="swatch-"] .swatch-black-white .tab-pane h5, .swatch-black-white .tab-pane.active h5, [class*="swatch-"] .swatch-black-white .tab-pane.active h5, .swatch-black-white .tab-pane h6, [class*="swatch-"] .swatch-black-white .tab-pane h6, .swatch-black-white .tab-pane.active h6, [class*="swatch-"] .swatch-black-white .tab-pane.active h6, .swatch-black-white .tab-pane a, [class*="swatch-"] .swatch-black-white .tab-pane a, .swatch-black-white .tab-pane.active a, [class*="swatch-"] .swatch-black-white .tab-pane.active a, .swatch-black-white .tab-pane p, [class*="swatch-"] .swatch-black-white .tab-pane p, .swatch-black-white .tab-pane.active p, [class*="swatch-"] .swatch-black-white .tab-pane.active p {
    color: #1c1c1c;
}


.swatch-header-white .btn-primary.btn-icon-left:after, [class*="swatch-"] .swatch-header-white .btn-primary.btn-icon-left:after, .swatch-header-white button.btn-icon-left:after, [class*="swatch-"] .swatch-header-white button.btn-icon-left:after, .swatch-header-white input[type="submit"].btn-icon-left:after, [class*="swatch-"] .swatch-header-white input[type="submit"].btn-icon-left:after {
    border-right-color: #e74c3c;
}

.swatch-header-white .btn-primary.btn-icon-right:hover:after, [class*="swatch-"] .swatch-header-white .btn-primary.btn-icon-right:hover:after, .swatch-header-white button.btn-icon-right:hover:after, [class*="swatch-"] .swatch-header-white button.btn-icon-right:hover:after, .swatch-header-white input[type="submit"].btn-icon-right:hover:after, [class*="swatch-"] .swatch-header-white input[type="submit"].btn-icon-right:hover:after {
    border-left-color: rgba(231, 76, 60, .9);
}

.swatch-header-white .btn-primary.btn-icon-left:hover:after, [class*="swatch-"] .swatch-header-white .btn-primary.btn-icon-left:hover:after, .swatch-header-white button.btn-icon-left:hover:after, [class*="swatch-"] .swatch-header-white button.btn-icon-left:hover:after, .swatch-header-white input[type="submit"].btn-icon-left:hover:after, [class*="swatch-"] .swatch-header-white input[type="submit"].btn-icon-left:hover:after {
    border-right-color: rgba(231, 76, 60, .9);
}

.swatch-header-white .btn-primary .hex-alt, [class*="swatch-"] .swatch-header-white .btn-primary .hex-alt, .swatch-header-white button .hex-alt, [class*="swatch-"] .swatch-header-white button .hex-alt, .swatch-header-white input[type="submit"] .hex-alt, [class*="swatch-"] .swatch-header-white input[type="submit"] .hex-alt {
    background: rgba(255, 255, 255, .2);
}

.swatch-header-white .btn-primary .hex-alt:before, [class*="swatch-"] .swatch-header-white .btn-primary .hex-alt:before, .swatch-header-white button .hex-alt:before, [class*="swatch-"] .swatch-header-white button .hex-alt:before, .swatch-header-white input[type="submit"] .hex-alt:before, [class*="swatch-"] .swatch-header-white input[type="submit"] .hex-alt:before {
    border-right-color: rgba(255, 255, 255, .2);
}

.swatch-header-white .btn-primary .hex-alt:after, [class*="swatch-"] .swatch-header-white .btn-primary .hex-alt:after, .swatch-header-white button .hex-alt:after, [class*="swatch-"] .swatch-header-white button .hex-alt:after, .swatch-header-white input[type="submit"] .hex-alt:after, [class*="swatch-"] .swatch-header-white input[type="submit"] .hex-alt:after {
    border-left-color: rgba(255, 255, 255, .2);
}

.swatch-header-white .btn-primary .hex-alt i, [class*="swatch-"] .swatch-header-white .btn-primary .hex-alt i, .swatch-header-white button .hex-alt i, [class*="swatch-"] .swatch-header-white button .hex-alt i, .swatch-header-white input[type="submit"] .hex-alt i, [class*="swatch-"] .swatch-header-white input[type="submit"] .hex-alt i {
    color: #fff !important;
}

.swatch-header-white .btn-link, [class*="swatch-"] .swatch-header-white .btn-link {
    text-decoration: none;
    box-shadow: 0px 0px 0px 1px #e74c3c inset;
}

.swatch-header-white .btn-link:hover, [class*="swatch-"] .swatch-header-white .btn-link:hover {
    text-decoration: none;
    color: #e74c3c;
    background: rgba(231, 76, 60, .05);
}

.swatch-header-white select, [class*="swatch-"] .swatch-header-white select, .swatch-header-white textarea, [class*="swatch-"] .swatch-header-white textarea, .swatch-header-white input, [class*="swatch-"] .swatch-header-white input, .swatch-header-white .uneditable-input, [class*="swatch-"] .swatch-header-white .uneditable-input, .swatch-header-white .input-group-btn, [class*="swatch-"] .swatch-header-white .input-group-btn {
    background: #e9eeef;
    color: #888;
}

.swatch-header-white select:-moz-placeholder, [class*="swatch-"] .swatch-header-white select:-moz-placeholder, .swatch-header-white textarea:-moz-placeholder, [class*="swatch-"] .swatch-header-white textarea:-moz-placeholder, .swatch-header-white input:-moz-placeholder, [class*="swatch-"] .swatch-header-white input:-moz-placeholder, .swatch-header-white .uneditable-input:-moz-placeholder, [class*="swatch-"] .swatch-header-white .uneditable-input:-moz-placeholder, .swatch-header-white .input-group-btn:-moz-placeholder, [class*="swatch-"] .swatch-header-white .input-group-btn:-moz-placeholder {
    color: #959595;
}

.swatch-header-white select::-moz-placeholder, [class*="swatch-"] .swatch-header-white select::-moz-placeholder, .swatch-header-white textarea::-moz-placeholder, [class*="swatch-"] .swatch-header-white textarea::-moz-placeholder, .swatch-header-white input::-moz-placeholder, [class*="swatch-"] .swatch-header-white input::-moz-placeholder, .swatch-header-white .uneditable-input::-moz-placeholder, [class*="swatch-"] .swatch-header-white .uneditable-input::-moz-placeholder, .swatch-header-white .input-group-btn::-moz-placeholder, [class*="swatch-"] .swatch-header-white .input-group-btn::-moz-placeholder {
    color: #959595;
}

.swatch-header-white select:-ms-input-placeholder, [class*="swatch-"] .swatch-header-white select:-ms-input-placeholder, .swatch-header-white textarea:-ms-input-placeholder, [class*="swatch-"] .swatch-header-white textarea:-ms-input-placeholder, .swatch-header-white input:-ms-input-placeholder, [class*="swatch-"] .swatch-header-white input:-ms-input-placeholder, .swatch-header-white .uneditable-input:-ms-input-placeholder, [class*="swatch-"] .swatch-header-white .uneditable-input:-ms-input-placeholder, .swatch-header-white .input-group-btn:-ms-input-placeholder, [class*="swatch-"] .swatch-header-white .input-group-btn:-ms-input-placeholder {
    color: #959595;
}

.swatch-header-white select::-webkit-input-placeholder, [class*="swatch-"] .swatch-header-white select::-webkit-input-placeholder, .swatch-header-white textarea::-webkit-input-placeholder, [class*="swatch-"] .swatch-header-white textarea::-webkit-input-placeholder, .swatch-header-white input::-webkit-input-placeholder, [class*="swatch-"] .swatch-header-white input::-webkit-input-placeholder, .swatch-header-white .uneditable-input::-webkit-input-placeholder, [class*="swatch-"] .swatch-header-white .uneditable-input::-webkit-input-placeholder, .swatch-header-white .input-group-btn::-webkit-input-placeholder, [class*="swatch-"] .swatch-header-white .input-group-btn::-webkit-input-placeholder {
    color: #959595;
}

.swatch-header-white input:focus, [class*="swatch-"] .swatch-header-white input:focus, .swatch-header-white textarea:focus, [class*="swatch-"] .swatch-header-white textarea:focus, .swatch-header-white .form-control:focus, [class*="swatch-"] .swatch-header-white .form-control:focus {
    -webkit-box-shadow: 0px 3px 0px #cddadd;
    -moz-box-shadow: 0px 3px 0px #cddadd;
    box-shadow: 0px 3px 0px #cddadd;
}

.swatch-header-white .form-icon-group i, [class*="swatch-"] .swatch-header-white .form-icon-group i {
    color: #e74c3c;
}

.swatch-header-white input[type="button"], [class*="swatch-"] .swatch-header-white input[type="button"] {
    background: #e74c3c;
    color: #fff;
}

.swatch-header-white .select-wrap, [class*="swatch-"] .swatch-header-white .select-wrap {
    background: #e9eeef;
}

.swatch-header-white .select-wrap select, [class*="swatch-"] .swatch-header-white .select-wrap select {
    background: transparent;
}

.swatch-header-white .table th, [class*="swatch-"] .swatch-header-white .table th {
    background-color: #e74c3c;
    text-transform: uppercase;
    color: #fefefe;
}

.swatch-header-white.table th, [class*="swatch-"] .swatch-header-white.table th {
    color: #fefefe;
    background-color: #e74c3c;
}

.swatch-header-white .table th, [class*="swatch-"] .swatch-header-white .table th, .swatch-header-white .table td, [class*="swatch-"] .swatch-header-white .table td, .swatch-header-white .table-bordered, [class*="swatch-"] .swatch-header-white .table-bordered {
    border-color: rgba(0, 0, 0, 0.07);
}

.swatch-header-white .table-striped tbody > tr:nth-child(odd) > td, [class*="swatch-"] .swatch-header-white .table-striped tbody > tr:nth-child(odd) > td, .swatch-header-white .table-striped tbody > tr:nth-child(odd) > th, [class*="swatch-"] .swatch-header-white .table-striped tbody > tr:nth-child(odd) > th, .swatch-header-white .table-hover tbody tr:hover > td, [class*="swatch-"] .swatch-header-white .table-hover tbody tr:hover > td, .swatch-header-white .table-hover tbody tr:hover > th, [class*="swatch-"] .swatch-header-white .table-hover tbody tr:hover > th {
    background: rgba(0, 0, 0, 0.07);
}

.swatch-header-white.navbar, [class*="swatch-"] .swatch-header-white.navbar {
    background: #fefefe;
    color: #222;
}

.swatch-header-white.navbar .navbar-brand, [class*="swatch-"] .swatch-header-white.navbar .navbar-brand {
    color: #222;
}

.swatch-header-white.navbar .navbar-brand:hover, [class*="swatch-"] .swatch-header-white.navbar .navbar-brand:hover {
    color: #222;
}

.swatch-header-white.navbar .nav > li > a, [class*="swatch-"] .swatch-header-white.navbar .nav > li > a {
    color: #e74c3c;
}

.swatch-header-white.navbar .nav > li > a:hover, [class*="swatch-"] .swatch-header-white.navbar .nav > li > a:hover, .swatch-header-white.navbar .nav > li > a:focus, [class*="swatch-"] .swatch-header-white.navbar .nav > li > a:focus {
    background: none;
}

.swatch-header-white.navbar .nav > li > a:before, [class*="swatch-"] .swatch-header-white.navbar .nav > li > a:before {
    background-color: #e74c3c;
}

body {
    font-family: Lato
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato
}

input, textarea, .btn, button {
    font-family: Lato
}

blockquote {
    font-family: Lato
}

blockquote p, .section-header p {
    font-weight: 300;
}

.light {
    font-weight: 300 !important;
}

.hairline {
    font-weight: 100 !important;
    strong {
        font-weight: 300;
    }
}

.lead {
    font-weight: 300;
    strong {
        font-weight: 400;
    }
}

#masthead .brand {
    font-weight: 300;
}

html {
    height: 100%;
}
body {


background: #24C6DC; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #24C6DC , #514A9D); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #24C6DC , #514A9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

}

.wom-color {
    color: #CE4D1E;
}

.panel {
    /*opacity: 0.8;*/
}

.get-wom {
    padding: 50px;
}

.get-wom button {
    width: 700px;
    background-color: #44c767;
}

.get-wom button:hover {
    background-color: #18ab29;
}

.charity-agree {
    padding: 10px;
}

.charity-agree button {
    width: 300px;
    background-color: #44c767;
}

.charity-agree button:hover {
    background-color: #18ab29;
}

.wom-dwn-btn {
    background-color: #44c767 !important;
    border-style: none;
}

.wom-dwn-btn:hover {
    background-color: #18ab29 !important;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}

dt {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0
}

dd {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0
}

.wom-prods img {
    width: 242px;
    height: 200px;
}

.wom-prods .caption {
    text-align: center;
    .errors {
        color: #E74C3C;
        text-align: center;
    }
    .wom-nav-act {
        padding-top: 7px;
    }


.wom-thumb{
     height: 394px;
}
#wom-nav-act{
    padding-top: 19px;
    }



  .wom-thumb{
     height: 394px;
}
.wom-tile-guide .caption{
  padding-top: 84px;
}
.wom-tile-sepa .caption{
  padding-top: 35px;
}

.img-brd{
    border-box;
    border: 1px solid rgb(34, 57, 106);
    border-radius: 8px 8px 8px 8px;
    }